*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   /* background-image: url(../WEBSITE/IMAGE/beach01.jpeg); */
}
.container{
   background-image: url(../WEBSITE/IMAGE/beach01.jpeg);
}
nav{
   background-color: white;
}
 .nav{
    display: flex;
    justify-content: space-around;
 }
 .logo{
    padding: 20px;
 }
 .icon{
    /* color: blue; */
 }
 ul{
    list-style: none;
    display: flex;
    gap: 30px;
    /* padding: 20px; */
    
 }
 .list{
    display: flex;
    padding: 20px;
    gap: 10px;
 }
 .list i{
    color: blueviolet;
 }
 .home{
    margin-left: 10%;
    padding-top: 20px;
    /* background-color:beige; */
 }
 .home{
    padding-bottom: 40px;
 }