* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  header{
    display: block;
    background-image: url(../WEBSITE/IMAGE/backgroundimg01.png);
    width: 100%;
    height: 760px;
  }
  nav{
    background-color: #21243d;
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  .search{
    color: white;
  }
  #col{
    display: block;
  }
  .col-00{
    color: white;
    font-size: 70px;
    padding: 40px 40px;
    margin: 10px 25px;
  }
  .col-00 h1{
    padding: 50px;  
  }
  .col-00 p{
    margin: 46px;
    font-size: 30px;
    margin-top: -12px;
  }

  button{
    background-color: #21243d;
    color: whitesmoke;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    margin: 20px;
    border: none;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 40px;
    color: white;
    font-weight: 900;
  }

  .logo{
    height: 20px;
  }


/* ..............................pg-2 css start ............................ */


  .header {
    position: relative;
    overflow: hidden;
    background-color: #21243d;
    color: white;
  } 
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .row {
    margin: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 50px;
  }
  .main-text{
    text-align: center;
    font-size: 20px;
    padding: 30px;
  }
  .col-50{
    text-align: center;
  }
  .shape01{
    width: 175px;
    height: 175px;
    border-radius: 102px;
    position: absolute;
    top: 70%;
    left: -50px;
  
  }
  .shape2{
    position: absolute;
    top: 90%;
    right: -20px;
  }
.shape3{
    position: absolute;
    top: 25%;

}
.shape4{
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 102px;
    top: -11%;
    right: -50px;
}
.shape5{
    position: absolute;
    top:50%;
    right: -10px;

}
.shape6{
    position: absolute;
    top: -5%;
    left: 100px;
}



/*........................ page-3 css start........................ */

.page-3{
  background-color: rgb(226, 173, 37);
  /* overflow-x: hidden; */

}
.page003{
  display: flex;
  padding: 70px;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}
.img01{
  z-index: 2;
}
.page03t{
  color: #21243d;
  padding: 90px;
  font-size: 30px;
}
.shape31{
  position: absolute;
  top: 235%;
  left: 1%;
  z-index: 1;
}
.shape32{
  position: absolute;
  top: 240%;
  right: 43%;
}
.shape33{
  position: absolute;
  top: 240%;
  right: 2%;
}
.shape34{
  position: absolute;
  top: 300%;
  right: -4%;
}
.shape35{
  position: absolute;
  top: 310%;
}


 /*........... page-4 css start here.................... */
 .page-4{
  background-color: #21243d;
    padding-bottom: 100px;
  padding-top: 100px;

}
.page04{
  padding: 20px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.tag{
  margin: o auto;
  text-align: center;
}
.tag01{
  font-size: 30px;
  color: white;
}
.tag02{
  font-size: 20px;
  color: white;
}

.main-div{
  margin: 0 auto;
  display: flex;
  text-align: center;
  margin-left: 50px;
  justify-content: space-around;
  font-size: 25px;
  
}
.box{
  border: 4px solid white;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  height: 190px;
  width: 190px;
  padding-top: 30px;
  
}
.box01{
  border: 4px solid white;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  height: 190px;
  width: 190px;
  padding-top: 30px;
  
}
.box02{
  border: 4px solid white;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  height: 190px   ;
  width:190px;
  padding-top: 30px;
  
}


/* ...............page-5 css start here .......................... */


.page-5{
  background-color: rgb(240, 188, 56);
}
.page005{

  display: flex;
  padding: 70px;
}
.page05t{
  color: #21243d;
  padding: 90px;
  font-size: 30px;
}


/* ...............page-6 css start here .......................... */

.page-6{
  background-image: url(../WEBSITE/IMAGE/backgroundimg03.png);
  background-repeat: no-repeat;
}
.page06{
  text-align: center;
  padding: 100px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

/* ................page-7 css start here.................... */

.page-7{
  background-color:rgb(250, 200, 94);
}
.page07{
  text-align: center;
  padding: 50px;
  padding-bottom: 15%;
  position: relative;
} 
.page007{
  font-size: 35px;
}
.page007 h1 {
  margin-top: 50px;
}
.page007 p{
  margin-top: 50px;
}
.frm{
  padding-top: 50px;
}
input{
  height: 45px;
  width: 50%;
  border-radius: 30px;
  padding-left: 20px;
  font-size: 20px;
  border: none;

}
button.btn{
    position: absolute;
    right: 20%;
    top: 57.45%;
    background-color: rgb(62, 56, 125);
    color: whitesmoke;
    height: 45px;
    width: 15%;
    border-radius: 30px;
    border: none; 
}

/*.................... page-8 css start here ............... */

.page-8{
  background-color: black;
}

.page08{
  margin: 0 auto;
  color: white;
  padding: 130px;
  box-sizing: border-box;
  font-size:large;
  font-weight: 400;
}
.table{
  padding: 100px;
  justify-content: space-around;
  display: flex;
}
.title-2{
  line-height: 30px;
}
.title-3{
  line-height: 30px;
}
.title-4{
  line-height: 30px;
}

  /*...................... media.............. */


  @media (max-width: 575.98px) {

    .main-text{
        font-size: 20;
    }
    .row{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .col-50{
        width: 50%;
    }
   }

  



  