* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    display: flex;
    margin-left: 392px;
    margin: 0 auto;
}

input {
    border: none;
}

button {
    background-color: teal;
    color: white;
    border: none;
    height: 50px;
    width: 100%;
}

.or01 {
    text-align: center;
}

.signin {
    background-color: teal;
}

.signin01 {
    text-align: center;

}

button.btn {
    border: 2px solid white;
    border-radius: 30px;
}

.ball {
    color: white;
    text-align: center;
}

.signinp {
    color: white;
    text-align: center;
}

.signup {
}